@font-face {
  font-family: "iconfont";
  /* Project id 3732518 */
  src: url('iconfont.woff2?t=1666841776907') format('woff2'),
    url('iconfont.woff?t=1666841776907') format('woff'),
    url('iconfont.ttf?t=1666841776907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e64c";
}

.icon-xiajiantou:before {
  content: "\e601";
}